body {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.box {
  width: 1000px;
  height: 650px;
  background-image: linear-gradient(to bottom right, #ff66ed, #9fcfc7);
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}

.circle-1 {
  width: 590px;
  height: 590px;
  position: absolute;
  bottom: 0px;
  left: -295px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.circle-2 {
  width: 450px;
  height: 450px;
  position: absolute;
  bottom: -225px;
  right: -225px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

h1 {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 110px;
}


/* 3 box with flex */
.flex-container {
  display: flex;
  height: 350px;
  margin: 10px auto;
  width: 800px;
  position: relative;
  justify-content: center;

}

.flex-1 {
  background-color: rgba(130, 233, 144, 255);
  color: white;
  width: 300px;
  margin: 60px 1px 10px;
  text-align: center;
  height: 360px;
  font-size: 30px;
  align-self: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

}

.flex-2 {
  background-color: rgba(160, 67, 236, 255);
  color: white;
  width: 350px;
  height: 400px;
  margin: 10px 0px 10px;
  text-align: center;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

}

.flex-3 {
  background-color: rgba(242, 61, 194, 255);
  color: white;
  width: 300px;
  margin: 60px 1px 10px;
  text-align: center;
  height: 360px;
  font-size: 30px;
  align-self: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;

}

/* circle white in boxes */
.circleWhite-1 {
  width: 252px;
  height: 252px;
  position: absolute;
  top: -125px;
  background-color: white;
  border-radius: 50%;
  color: rgba(130, 233, 144, 255);
  ;
}

.circleWhite-2 {
  width: 293px;
  height: 293px;
  position: absolute;
  top: -147px;
  background-color: white;
  border-radius: 50%;
  color: rgba(160, 67, 236, 255);
  ;
}

.circleWhite-3 {
  width: 252px;
  height: 252px;
  position: absolute;
  top: -125px;
  background-color: white;
  border-radius: 50%;
  color: rgba(242, 61, 194, 255);
}

/* circle in flexes */

.circleInFelexBox1 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: -100px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.circleInFelexBox2 {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -80px;
  right: -80px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* number in circle white */
.numberInCircle {
  margin: auto;
  position: absolute;

}

.textInRectangle {
  font-size: 15px;
  color: white;
  margin: 10px auto;
  text-align: left;
  position: absolute;
  top: 90px;
}

/* btn */
.btn {
  width: 90px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  bottom: 13px;
  font-size: 15px;
  color: black;
  text-align: center;
}